version: "2"
volumes:
  graphite_data:
  grafana_data:
services:
  node:
    image: {{ screeps_node_image|default ('screepers/screeps-statsd') }}
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    links:
     - statsd
    environment:
      GRAPHITE_PORT_8125_UDP_ADDR: "statsd"
    env_file: docker-compose.env
    networks:
     - screeps-server_default
    external_links:
     - screeps:screeps
  statsd:
    image: ennexa/statsd
    links: 
     - graphite
    networks:
     - screeps-server_default
    external_links:
     - screeps:screeps
  graphite: 
    image: ennexa/graphite
    restart: always
    volumes:
     - /opt/graphite/conf
     - graphite_data:/opt/graphite/storage/whisper
    networks:
     - screeps-server_default
  grafana:
    container_name: grafana
    image: grafana/grafana
    restart: always
    volumes:
     - grafana_data:/var/lib/grafana
    links:
     - graphite
    ports:
     - "3000:3000"
    networks:
     - screeps-server_default
  # grafana_setup_datasource:
  #   image: appropriate/curl
  #   links:
  #    - grafana
  #   command: |
  #     curl 'http://admin:admin@grafana:3000/api/datasources' -X POST -H 'Content-Type: application/json;charset=UTF-8' --data-binary '{"name":"localGraphite","type":"graphite","url":"http://graphite:8000","access":"proxy","isDefault":true,"database":""}'
  # grafana_setup_sampledashboard:
  #   image: appropriate/curl
  #   links:
  #    - grafana
  #   volumes:
  #     - ./sampleDashboard.json:/sampleDashboard.json
  #   command: |
  #     curl 'http://admin:admin@grafana:3000/api/dashboards/db' -X POST -H 'Content-Type: application/json;charset=UTF-8' --data @/sampleDashboard.json 

networks:
  screeps-server_default:
    external: true
